@import 'themes/tailwind.css';

* {
  /*font-family: Roboto, "Material Icons"*/
  font-family: "Symbols Nerd Font", "Inter Display Medium";
  font-size: 16px;
}

#waybar {
  background-color: @bg;
  color: @fg;
}

#workspaces {
  margin: .35em 0;
  margin-left: .35em;
}

#workspaces button {
  border: 0;
  border-radius: 0;
  color: @unfocused-text;
  padding: 0 3px;
  border-bottom: 2px solid @bg;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: @bg;
  color: @fg;
  padding: 0 3px;
}

#workspaces button.focused,
#workspaces button.active {
  color: @fg;
  border-bottom: 2px solid @primary;
}

#tray {
  background: @bg-alt;
  border-radius: 4px;
  margin: .35em 0;
  margin-right: .3em;
  padding: .35em;
}

#backlight,
#battery,
#wireplumber,
#network,
#mpd {
  background: @bg-module;
  padding-left: .7rem;
  padding-right: .7rem;
  margin: .4rem;
  border-radius: 4px;
}

#battery {
  margin-right: 1em;
}
